


<div class="container separador">
  <br>
  <div class="card">
      <div class="card-body">
       <article class="message_contanier" *ngFor="let producto of productos">
         <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{producto.imagen}}" width="80%" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{producto.titulo}}</h5>
              <p class="card-text">{{producto.descripcion}}.</p>
              <p class="card-text"> Precio: {{producto.precio}} €.</p>
              <button (click)="addProducto(producto)" class="btn btn-primary">Añadir al carrito</button>
            </div>
          </div>
        </article>
            <div class="container separador">
    
          </div>
      </div>
  </div>

 
</div>
