<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="!shouldRun">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h2 class="example-app-name">Administrador {{tituloBot}}</h2>
    <p class="saludo"> {{ saludo }} </p>
    <button  matBadge="1" matBadgePosition="before" matBadgeOverlap="accent" mat-icon-button [matMenuTriggerFor]="menu" class="menuCerrar-Session ">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Menú</span>
      </button>
       
      <button mat-menu-item>
          <mat-icon>flag</mat-icon>
          <span> Notificaciones</span>
        </button>
        <button mat-menu-item>
            <mat-icon>insert_chart</mat-icon>
            <span> <a [routerLink]="['cotizacion']">cotizacion</a></span>
            
          </button>
      <button mat-menu-item>
          <mat-icon>monetization_on</mat-icon>
          <span> Ventas</span>
        </button>
      <button mat-menu-item>
        <mat-icon>flag</mat-icon>
        <span> Versión 0.51</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span> <a [routerLink]="['/login']">Cerrar Sesión</a></span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <span><a mat-list-item [routerLink]="[nav.state]" *ngFor="let nav of navMenu">
            <mat-icon>{{nav.icon}}</mat-icon> &nbsp; {{nav.title}}
          </a></span>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content (click)="snav.toggle(false)">
      <div>
        <div class="text-center bienvenida" *ngIf="router.url =='/home'">
          <h1>Bienvenido TradeCampo</h1>
          <img src="../../../assets/market.png" >
        </div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>