/**.content-graph{max-width: 1200px;width: 80%;margin: auto;}

@media only screen and (max-width: 600px) {
    .content-graph{width: 100%;margin: auto;}

}**/

.separador{
    margin-top:20px; 
}

mat-spinner{
    margin-left: 45%
}

i.material-icons{
    padding: 5px;
}