
<div class="content-graph">
  <div class="col-sm-12 col-md-12" style="margin:auto">
    <!-- Se recarga el canvas cada vez que hay un cambio -->
    <canvas *ngIf='change; else elseBlock' baseChart [data]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [chartType]="lineChartType"
      (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>

      <ng-template #elseBlock>
        <mat-spinner></mat-spinner>
      </ng-template>

    <div class="col-md-12 text-center" style="margin-top: 10px;height: 50%">
      <button class="btn btn-outline-secondary" (click)="randomizeType()" style="display: inline-block">
          <i class="material-icons">
              refresh
          </i>
      </button>
    </div>
  </div>
</div>