<div class="container separador">
    <h1 class="text-center text-uppercase">
        Calificación
    </h1>
    <hr>
    <app-date-filter (getRangeDate)="getRangeDate($event)"></app-date-filter>
    <br>
    <div class="card">
        <div class="card-header">
            <app-excel [datos]="infoGraphDatas"></app-excel>
        </div>
        <div class="card-body">
            <app-pie-graph [graphData]="infoGraphDatas"></app-pie-graph>
        </div>
        <div class="card-footer">
            <p class="text-capitalize font-italic">
                Total calificaciones:
                <strong> {{ total }} </strong>
            </p>
        </div>
    </div>
    <br>
    
    <div *ngIf="viewDetailQualification" class="row justify-content-center">
        <button (click)="getRatingDetail()"
        type="button" class="btn btn-outline-info"> Detalle de Calificaciones </button>
    </div>
</div>
