.content-excel{
    margin-left: 75%;
    width: 80%;
}

.content-excel button img {
    padding: 3px;
}

img{
    width: 70px;
    height: auto;
    cursor: pointer;
}

.separador{
    padding-top: 25px;
}