<div class="col-sm-12 col-md-12" class="content-graph">
  <canvas *ngIf='change; else elseBlock' 
  baseChart [data]="pieChartData" [labels]="pieChartLabels" 
  [chartType]="pieChartType"
  [options]="pieChartOptions" (chartHover)="chartHovered($event)" 
  (chartClick)="chartClicked($event)">
  </canvas>

  <ng-template #elseBlock>
    <mat-spinner></mat-spinner>
  </ng-template>
  
</div>
<div class="col-md-12 text-center" style="margin-top: 10px;height: 50%">
  <button mat-raised-button color="primary" (click)="randomizeType()" style="display: inline-block">
    <i class="material-icons">
      refresh
    </i>
  </button>
</div>