.botonColorGreen{
    color:#04D59E!important;
    }
    .mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
        background-color: #04D59E;
        color: white;
    }
    
    .mat-list .mat-list-item, .mat-list .mat-list-option, .mat-nav-list .mat-list-item, .mat-nav-list .mat-list-option, .mat-selection-list .mat-list-item, .mat-selection-list .mat-list-option {
        display: block;
        height: 88px;
    }
    .centerCotizar{
        margin-left: 40%;
    }